.products {
  position: relative;
  background: url("../../../pooshe/back_brown.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.slice_one {
  width: 38%;
  transform-origin: 320px 100px;
  transition: all 1s;
}

.slice_two {
  width: 38%;
  transform-origin: 200px 170px;
  transition: all 1s;
  position: absolute;
  left: 39.3rem;
}
.slice_two:hover {
  transform: rotate(20deg);
}
.slice_shokolat {
  position: absolute;
  left: 31rem;
  height: 350px;
  width: 35%;
  z-index: -10;
}

@media (max-width: 480px) {
  .slice_two {
    width: 70%;
    left: 12rem;
    transform-origin: 120px 125px;
  }
  .slice_one {
    width: 70%;
  }
  .slice_two:hover {
    transform: rotate(18deg);
  }
  .slice_shokolat {
    position: absolute;
    left: 4rem;
    height: 340px;
    width: 20rem;
  }
}
.products h2{
  position: absolute;
  top: 30px;
  left: 50px;
  color: #fff;
}