.home {
  background: url("../../../public/background-chaklet.jpg");
  background-position: center;
  /* object-fit: contain; */
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  color: aliceblue;
  object-fit: cover;
}
h1 {
  color: blue;
  transform: rotateX(80deg);
}

