ul {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  list-style: none;
}
ul li a {
  transform: rotate(180deg);
  font-size: 1rem;
  font-weight: 600;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  line-height: 24px;
}
nav {
  position: fixed;
  right: 50px;
  top: 30px;
}
